<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koala</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="drag-bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="73.527" height="61.225" viewBox="0 0 73.527 61.225"><g transform="translate(-13.237 -19.275)"><path d="M16.7,23.7c-4.9,5.9-4.2,15.8-.4,20a6.078,6.078,0,0,0,5.2,2.2,29.257,29.257,0,0,0,5.7,23.6A29.042,29.042,0,0,0,79,51.5a27.6,27.6,0,0,0-.6-5.7h.5a6.467,6.467,0,0,0,4.8-2.3c3.8-4.3,4.5-14.1-.4-20-5.9-7.1-15.7-4.1-23.6.6A30.265,30.265,0,0,0,40.2,24C37.9,22.2,24.1,14.7,16.7,23.7ZM37,55.4a2,2,0,1,1,2-2A2.006,2.006,0,0,1,37,55.4ZM58.8,70.9A16.272,16.272,0,0,1,50,73.6a15.245,15.245,0,0,1-8.8-2.7,1.012,1.012,0,0,1,1.1-1.7A17.391,17.391,0,0,0,45,70.6V60a5,5,0,0,1,10,0V70.7a11.482,11.482,0,0,0,2.7-1.4.984.984,0,0,1,1.4.3A.889.889,0,0,1,58.8,70.9ZM63,55.4a2,2,0,1,1,2-2A2.006,2.006,0,0,1,63,55.4Z"/></g></svg>
    </div>

    <div class="content" style="">
        <p>LOADING</p>
        <p id="little">Checking the servers...</p>
    </div>

    <div class="content" style="display: none;">
        <div>
            <input type="text" placeholder="Paste your link here...">
            <div style="margin-top: 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
                <button style="background-color: rgb(59, 111, 252);">Stream</button>
                <button style="background-color: rgb(255, 66, 66);">Download</button>
            </div>
        </div>
    </div>

    <div class="progress-bar">
        <div class="indicator"></div>
    </div>
</body>
</html>